<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mystatscloud.onpoint"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".MainMenuActivity"
			android:label="@string/title_activity_main_menu">
		</activity>
		<activity
			android:name=".AboutActivity"
			android:label="@string/title_activity_about">
		</activity>
		<activity
			android:name=".FaqActivity"
			android:label="@string/app_name">
		</activity>
		<activity
			android:name=".ResourcesActivity"
			android:label="@string/title_activity_resources">
		</activity>
		<activity
			android:name=".TestimonialsActivity"
			android:label="@string/title_activity_testimonials">
		</activity>
		<activity
			android:name=".TestFacilityLocatorActivity"
			android:label="@string/title_activity_test_facility_locator">
		</activity>
		<activity
			android:name=".PracticeExamActivity"
			android:label="@string/title_activity_practice_exam">
		</activity>
		<activity
			android:name=".ScheduleTestActivity"
			android:label="@string/title_activity_schedule_test">
		</activity>
		<activity
			android:name=".PracticeExamMenuActivity"
			android:label="@string/title_activity_practice_exam_menu"
			android:parentActivityName=".MainMenuActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mystatscloud.onpoint.MainMenuActivity"/>
		</activity>
		<activity
			android:name=".SkilledTestMenuActivity"
			android:label="@string/title_activity_skilled_test_menu">
		</activity>
		<activity
			android:name=".CategoryTestMenuActivity"
			android:label="@string/title_activity_category_test_menu">
		</activity>
	</application>

</manifest>
