<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mystatscloud.onpoint"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:screenOrientation="portrait">
		<activity
			android:name=".MainActivity"
			android:screenOrientation="portrait">>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".MainMenuActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".AboutActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".FaqActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".ResourcesActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".TestimonialsActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".TestFacilityLocatorActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity
			android:name=".PracticeExamActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity
			android:name=".ScheduleTestPhoneActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".PracticeExamMenuActivity"
			android:label="@string/app_name"
			android:parentActivityName=".MainMenuActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mystatscloud.onpoint.MainMenuActivity"/>
		</activity>
		<activity
			android:name=".SkilledTestMenuActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity
			android:name=".CategoryTestMenuActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity
			android:name=".ScheduleTestMenuActivity"
			android:label="@string/app_name"
			android:parentActivityName=".MainMenuActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.mystatscloud.onpoint.MainMenuActivity"/>
		</activity>
		<activity
			android:name=".ScheduleTestFormActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".ExamCompleteActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">

		</activity>
	</application>

</manifest>
